<%- include('partials/header') %>


<div class="jumbotron centered" dir="rtl">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" >سیستم مدیریت کتابخانه</h1>
    <p class="lead">به سیستم مدیریت کتابخانه خوش آمدید، جایی که می‌توانید به راحتی کتاب‌ها را جستجو، امانت بگیرید و مطالعه کنید.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">ثبت در سیستم</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">ورود به سیستم</a>

  </div>
</div>

<%- include('partials/footer') %>
