<%- include('partials/header') %>
<div class="container d-flex justify-content-center align-items-center mt-5" style="height: 100vh;">
  <div class="text-center w-75">
    <h1>ورود به سیستم</h1>

    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /login route -->
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="email">ایمیل آدرس</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="password">پسورد</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-dark">ورود به سیستم</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            ورود به سیستم با گوگل اکانت
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
